<!--
						Clients
					-->
					<div class="content clients">

						<!-- title -->
						<div class="title">Graphic Design Clients</div>

						<!-- content -->
						<div class="row client-items">

							<!-- client item -->
							<div class="col col-d-3 col-t-3 col-m-6 border-line-v">
								<div class="client-item">
									<div class="image">
									<!--<a target="_blank" href="https://www.google.com">-->
											<img src="images/clients/client_1.png" alt="EvenTide" />
										</a>
									</div>
								</div>
							</div>

							<!-- client item -->
							<div class="col col-d-3 col-t-3 col-m-6 border-line-v">
								<div class="client-item">
									<div class="image">
									<!--<a target="_blank" href="https://www.google.com">-->
											<img src="images/clients/client_2.png" alt="Flock" />
										</a>
									</div>
								</div>
							</div>

							<!-- client item -->
							<div class="col col-d-3 col-t-3 col-m-6 border-line-v">
								<div class="client-item">
									<div class="image">
									<!--<a target="_blank" href="https://www.google.com">-->
											<img src="images/clients/client_3.png" alt="Lady Metatrona" />
										</a>
									</div>
								</div>
							</div>

							<!-- client item -->
							<div class="col col-d-3 col-t-3 col-m-6 border-line-v">
								<div class="client-item">
									<div class="image">
									<!--<a target="_blank" href="https://www.google.com">-->
											<img src="images/clients/client_4.png" alt="Illuminated, LLC" />
										</a>
									</div>
								</div>
							</div>

							<div class="clear"></div>
						</div>

                    </div> 
                    

                    <!--
						Services
					-->
					<div class="content services">

						<!-- title -->
						<div class="title">My Services</div>

						<!-- content -->
						<div class="row service-items border-line-v">

							<!-- service item -->
							<div class="col col-d-6 col-t-6 col-m-12 border-line-h">
								<div class="service-item">
									<div class="icon"><span class="ion ion-code"></span></div>
									<div class="name">Web Development & Design</div>
									<p>
										Modern, clean, unique and mobile-ready websites that will help you
										create an online presence and grow your business
									</p>
								</div>
							</div>

							<!-- service item -->
							<div class="col col-d-6 col-t-6 col-m-12 border-line-h">
								<div class="service-item">
									<div class="icon"><span class="fas fa-paint-roller"></span></div>
									<div class="name">Graphic Design</div>
									<p>
										Logo, collateral and graphic designs that promote your brand & business
									</p>
								</div>
							</div>

							<!-- service item -->
							<div class="col col-d-6 col-t-6 col-m-12">
								<div class="service-item">
									<div class="icon"><span class="fas fa-lightbulb"></span></div>
									<div class="name">Brand Developement</div>
									<p>
										Creating interesting and effective brands that give your business an 
										edge in your target market
									</p>
								</div>
							</div>

							<!-- service item -->
							<div class="col col-d-6 col-t-6 col-m-12">
								<div class="service-item">
									<div class="icon"><span class="fas fa-search"></span></div>
									<div class="name">Talent Sourcing</div>
									<p>
										Helping you find additional talents needed to build your business,
										such as photographers, videographers and copywriters
									</p>
								</div>
							</div>

							<div class="clear"></div>
						</div>

					</div>

					<!--
						Price Tables
					-->
					<div class="content pricing">

						<!-- title -->
						<div class="title">Pricing</div>

						<!-- content -->
						<div class="row pricing-items">

							<!-- pricing item -->
							<div class="col col-d-6 col-t-6 col-m-12 border-line-v">
								<div class="pricing-item">
									<div class="icon"><i class="ion ion-speedometer speed-basic"></i></div>
									<div class="name">Web Developement & Design</div>
									<div class="amount">
										<span class="dollar">$</span>
										<span class="number">1000</span>
										<span class="period">project</span>
									</div>
									<div class="feature-list">
										<ul>
											<li>Wireframing</li>
											<li>Full Website Creation</li>
											<li class="disable">Branding & Naming</li>
											<li class="disable">Graphic Designs</li>
											<li class="disable">Talent Sourcing<strong>new</strong></li>
										</ul>
                                    </div>
                                    

<!--
						Price Tables
					-->
					<div class="content pricing">

						<!-- title -->
						<div class="title">Pricing</div>

						<!-- content -->
						<div class="row pricing-items">

							<!-- pricing item -->
							<div class="col col-d-6 col-t-6 col-m-12 border-line-v">
								<div class="pricing-item">
									<div class="icon"><i class="ion ion-speedometer speed-basic"></i></div>
									<div class="name">Web Developement & Design</div>
									<div class="amount">
										<span class="dollar">$</span>
										<span class="number">1000</span>
										<span class="period">project</span>
									</div>
									<div class="feature-list">
										<ul>
											<li>Wireframing</li>
											<li>Full Website Creation</li>
											<li class="disable">Branding & Naming</li>
											<li class="disable">Graphic Designs</li>
											<li class="disable">Talent Sourcing<strong>new</strong></li>
										</ul>
									</div>
									<div class="lnks">
										<a href="mailto:lianaelindgren@gmail.com" class="lnk">
											<span class="text">Contact Me</span>
											<i class="ion ion-speedometer speed-basic"></i>
										</a>
									</div>
								</div>
							</div>

							<!-- pricing item -->
							<div class="col col-d-6 col-t-6 col-m-12 border-line-v">
								<div class="pricing-item">
									<div class="icon"><i class="ion ion-speedometer"></i></div>
									<div class="name">Brand & Web Development</div>
									<div class="amount">
										<span class="dollar">$</span>
										<span class="number">1500</span>
										<span class="period">Project</span>
									</div>
									<div class="feature-list">
										<ul>
											<li>Naming</li>
											<li>Brand Development</li>
											<li>Logo & Collateral</li>
											<li>Style Board</li>
											<li>Talent Sourcing <strong>new</strong></li>
										</ul>
									</div>
									<div class="lnks">
										<a href="mailto:lianaelindgren@gmail.com" class="lnk">
											<span class="text">Contact Me</span>
											<i class="ion ion-speedometer"></i>
										</a>
									</div>
								</div>
							</div>

							<div class="clear"></div>
						</div>

					</div>                                    