<!DOCTYPE html>
<html lang="en">
<head>
	
	<!--
		Basic
	-->
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
	<title>Liana Morrison - vCard / Resume / CV Template</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	<meta name="description" content="vCard & Resume Template" />
	<meta name="keywords" content="vcard, resposnive, resume, personal, card, cv, cards, portfolio" />
	<meta name="author" content="beshleyua" />
	
	<!--
		Load Fonts
	-->
	<link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous">
	
	<!--
		Load CSS
	-->
	<link rel="stylesheet" href="css/basic.css" />
	<link rel="stylesheet" href="css/layout.css" />
	<link rel="stylesheet" href="css/blogs.css" />
	<link rel="stylesheet" href="css/ionicons.css" />
	<link rel="stylesheet" href="css/magnific-popup.css" />
	<link rel="stylesheet" href="css/animate.css" />
	<link rel="stylesheet" href="css/owl.carousel.css" />
	
	<!--
		Template Colors
	-->
	<!--<link rel="stylesheet" href="css/template-colors/green.css" />-->
	<!--<link rel="stylesheet" href="css/template-colors/blue.css" />-->
	<!--<link rel="stylesheet" href="css/template-colors/orange.css" />-->
	<!--<link rel="stylesheet" href="css/template-colors/pink.css" />-->
	<link rel="stylesheet" href="css/template-colors/purple.css" />
	<!--<link rel="stylesheet" href="css/template-colors/red.css" />-->
	
	<!--
		Template Dark
	-->
	<link rel="stylesheet" href="css/template-dark/dark.css" />
	
	<!--[if lt IE 9]>
	<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	
	<!--
		Favicons
	-->
	<link rel="shortcut icon" href="images/favicons/favicon.ico">
	
</head>

<body>
	<div class="page">
		
		<!-- preloader -->
		<div class="preloader">
			<div class="centrize full-width">
				<div class="vertical-center">
					<div class="spinner">
						<div class="double-bounce1"></div>
						<div class="double-bounce2"></div>
					</div>
				</div>
			</div>
		</div>

		<!-- background -->
		<div class="background"></div>

		<!--
			Container
		-->
		<div class="container opened" data-animation-in="fadeInLeft" data-animation-out="fadeOutLeft">

			<!--
				Header
			-->
			<header class="header">

				<!-- menu -->
				<div class="top-menu">
					<ul>
						<li class="active">
							<a href="#about-card">
								<span class="icon ion-person"></span>
								<span class="link">About</span>
							</a>
						</li>
						<li>
							<a href="#resume-card">
								<span class="icon ion-android-list"></span>
								<span class="link">Resume</span>
							</a>
						</li>
						<li>
							<a href="#works-card">
								<span class ="icon ion-code"></span>
								<span class="link">Web Dev Portfolio</span>
							</a>
						</li>
						<li>
							<a href="#graphics-card">
								<span class="icon ion-paintbrush"></span>
								<span class="link">Graphic Design Portfolio</span>
							</a>
						</li>
						<li>
							<a href="#contacts-card">
								<span class="icon ion-at"></span>
								<span class="link">Contact</span>
							</a>
						</li>
					</ul>
				</div>

			</header>

			<!--
				Card - Started
			-->
			<div class="card-started" id="home-card">

				<!--
					Profile
				-->
				<div class="profile">

					<!-- profile image -->
					<div class="slide" style="background-image: url(images/bg.png);"></div>

					<!-- profile photo -->
					<div class="image">
						<img src="images/headshot.png" alt = "headshot" />
					</div>

					<!-- profile titles -->
					<div class="title">Liana Morrison</div>
					<div class="subtitle">Full-Stack Developer, Graphic & Web Designer</div>

					<!-- profile socials -->
					<div class="social">
						<a target="_blank" href="https://facebook.com/wonderlandwebdesigns"><span class="fab fa-facebook"></span></a>
						<a target="_blank" href="https://linkedin.com/liana-morrison-111"><span class="fab fa-linkedin"></span></a>
						<a target="_blank" href="https://github.com/lianasun"><span class="fab fa-github"></span></a>
						<a target="_blank" href="https://www.instagram.com/wonderlandwebdesigns/"><span class="fab fa-instagram"></span></a>
					<!--<a target="_blank" href="https://stackoverflow.com/"><span class="fab fa-stack-overflow"></span></a>-->
					</div>
					
					<!-- profile buttons -->
					<div class="lnks">
						<a href="images/resume.pdf" class="lnk">
							<span class="text">Download CV</span>
							<span class="ion ion-archive"></span>
						</a>
						<a href="mailto:lianaelindgren@gmail.com" class="lnk discover">
							<span class="text">Contact Me</span>
							<span class="arrow"></span>
						</a>
					</div>

				</div>

			</div>

			<!-- 
				Card - About
			-->
			<div class="card-inner animated active" id="about-card">
				<div class="card-wrap">

					<!-- 
						About 
					-->
					<div class="content about">

						<!-- title -->
						<div class="title">About Me</div>

						<!-- content -->
						<div class="row">
							<div class="col col-d-12 col-t-12 col-m-12 border-line-v">
								<div class="text-box">
									<p>
										Liana is a Freelance, Full-Stack Developer & MBA focused on attention to detail, 
										working collaboratively with team members and contributing to the overall 
										success of the team. Technical skills include HTML, CSS, Bootstrap, 
										JavaScript/jQuery, Node, Express, MongoDB, React.js & MySQL. 
										Tools used are GitHub, Slack methodology, in addition to being an 
										accomplished Project & Buiness Manager, Senior Sales Associate   
										with over 12 years experiences.  
									</p>
								</div>
								<div class="info-list">
									<ul>
										<li><strong>Location . . . . .</strong>Minneapolis, MN</li>
										<li><strong>Freelance . . . . .</strong>Currently Available</li>
									</ul>
								</div>
							</div>
							<div class="clear"></div>
						</div>

					</div>

					<!--
						Services
					-->
					<div class="content services">

						<!-- title -->
						<div class="title">My Services</div>

						<!-- content -->
						<div class="row service-items border-line-v">

							<!-- service item -->
							<div class="col col-d-6 col-t-6 col-m-12 border-line-h">
								<div class="service-item">
									<div class="icon"><span class="ion ion-code"></span></div>
									<div class="name">Web Development & Design</div>
									<p>
										Modern, clean, unique and mobile-ready websites that will help you
										create an online presence and grow your business
									</p>
								</div>
							</div>

							<!-- service item -->
							<div class="col col-d-6 col-t-6 col-m-12 border-line-h">
								<div class="service-item">
									<div class="icon"><span class="fas fa-paint-roller"></span></div>
									<div class="name">Graphic Design</div>
									<p>
										Logo, collateral and graphic designs that promote your brand & business
									</p>
								</div>
							</div>

							<!-- service item -->
							<div class="col col-d-6 col-t-6 col-m-12">
								<div class="service-item">
									<div class="icon"><span class="fas fa-lightbulb"></span></div>
									<div class="name">Brand Developement</div>
									<p>
										Creating interesting and effective brands that give your business an 
										edge in your target market
									</p>
								</div>
							</div>

							<!-- service item -->
							<div class="col col-d-6 col-t-6 col-m-12">
								<div class="service-item">
									<div class="icon"><span class="fas fa-search"></span></div>
									<div class="name">Talent Sourcing</div>
									<p>
										Helping you find additional talents needed to build your business,
										such as photographers, videographers and copywriters
									</p>
								</div>
							</div>

							<div class="clear"></div>
						</div>

					</div>

					

					<!--
						Fun Fact
					-->
					<div class="content fuct">

						<!-- title -->
						<div class="title">Fun Facts</div>

						<!-- content -->
						<div class="row fuct-items">

							<!-- fact item -->
							<div class="col col-d-3 col-t-3 col-m-6 border-line-v">
								<div class="fuct-item">
									<div class="icon"><span class="fas fa-exclamation"></span></div>
									<div class="name">We have a pet snake</div>
								</div>
							</div>

							<!-- fact item -->
							<div class="col col-d-3 col-t-3 col-m-6 border-line-v">
								<div class="fuct-item">
									<div class="icon"><span class="ion ion-trophy"></span></div>
									<div class="name">I was a National Yoga Athlete</div>
								</div>
							</div>

							<!-- fact item -->
							<div class="col col-d-3 col-t-3 col-m-6 border-line-v">
								<div class="fuct-item">
									<div class="icon"><span class="ion ion-coffee"></span></div>
									<div class="name">I used to sell coffee</div>
								</div>
							</div>

							<!-- fact item -->
							<div class="col col-d-3 col-t-3 col-m-6 border-line-v">
								<div class="fuct-item">
									<div class="icon"><span class="ion ion-flag"></span></div>
									<div class="name">I'm a dual-citizen</div>
								</div>
							</div>

							<div class="clear"></div>
						</div>

					</div>


					<!--
						Testimonials
					-->
					<div class="content testimonials">

						<!-- title -->
						<div class="title">Testimonials</div>

						<!-- content -->
						<div class="row testimonials-items">

							<!-- client item -->
							<div class="col col-d-12 col-t-12 col-m-12 border-line-v">
								<div class="revs-carousel default-revs">
									<div class="owl-carousel">
										<div class="item">
											<div class="revs-item">
												<div class="text">
													Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
												</div>
												<div class="user">
													<div class="img"><img src="images/testimonial1.png" alt="" /></div>
													<div class="info">
														<div class="name">Sunni Reynolds</div>
														<div class="company">Skin By Sunni</div>
													</div>
													<div class="clear"></div>
												</div>
											</div>
										</div>
										<div class="item">
											<div class="revs-item">
												<div class="text">
													Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
												</div>
												<div class="user">
													<div class="img"><img src="images/testimonial2.png" alt="" /></div>
													<div class="info">
														<div class="name">Hannah Lane</div>
														<div class="company">Illuminated, LLC</div>
													</div>
													<div class="clear"></div>
												</div>
											</div>
										</div>
										<div class="item">
											<div class="revs-item">
												<div class="text">
													Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
												</div>
												<div class="user">
													<div class="img"><img src="images/testimonial3.png" alt="" /></div>
													<div class="info">
														<div class="name">Sarah Justad</div>
														<div class="company">Just Add Booty!</div>
													</div>
													<div class="clear"></div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="clear"></div>
						</div>

					</div>

				</div>
			</div>

			<!--
				Card - Resume
			-->
			<div class="card-inner" id="resume-card">
				<div class="card-wrap">

					<!--
						Resume
					-->
					<div class="content resume">

						<!-- title -->
						<div class="title">Resume</div>

						<!-- content -->
						<div class="row">

							<!-- experience -->
							<div class="col col-d-6 col-t-6 col-m-12 border-line-v">
								<div class="resume-title border-line-h">
									<div class="icon"><i class="ion ion-briefcase"></i></div>
									<div class="name">Experience</div>
								</div>
								<div class="resume-items">
									<div class="resume-item border-line-h active">
										<div class="date">2007 - Present</div>
										<div class="name">Senior Teacher & Manager</div>
										<div class="company">Open Minds Fusion Studio</div>
										<p>
											Coordinate events and daily activities of the Studio
											Mentoring and training of new teachers
											Maintainted and updated Squarespace website
										</p>
									</div>
									<div class="resume-item border-line-h">
										<div class="date">2017 - 2018</div>
										<div class="name">Sales Consultant</div>
										<div class="company">First Choice Coffee Services</div>
										<p>
											First Choice Coffee Services offers premium office coffee and beverages 
											solutions, the latest,  upscale and environmentally friendly options 
											for businesses employees and their clients 
											Left to persue Full-Stack Engineering
										</p>
									</div>
									<div class="resume-item">
										<div class="date">2016 - 2017</div>
										<div class="name">Senior Sales Manager</div>
										<div class="company">Mercury Matrix, Inc.</div>
										<p>
											Mercury Matrix was a 3rd party outsourced sales and marketing firm
											under contract with CenturyLink to help promote and expand the 
											FiberOptic footprint in Minnesota.
											Contract Ended in 2017 	
										</p>
									</div>
								</div>
							</div>

							<!-- education -->
							<div class="col col-d-6 col-t-6 col-m-12 border-line-v">
								<div class="resume-title border-line-h">
									<div class="icon"><i class="ion ion-university"></i></div>
									<div class="name">Education</div>
								</div>
								<div class="resume-items">
									<div class="resume-item border-line-h">
										<div class="date">2019</div>
										<div class="name">University of Minnesota</div>
										<div class="company">St. Paul, MN</div>
										<p>
											Certificate in Full-Stack Web Development, focused on the MERN Stack
										</p>
									</div>
									<div class="resume-item border-line-h">
										<div class="date">2017-2018</div>
										<div class="name">Cyd-Cor</div>
										<div class="company">St. Paul, MN</div>
										<p>
											Applied Masters of Business Administration
											in Small Business & Entreprenurship
										</p>
									</div>
									<div class="resume-item">
										<div class="date">2007</div>
										<div class="name">Yoga College of India</div>
										<div class="company">Honolulu, HI</div>
										<p>
											1000+ Hour Certification
										</p>
									</div>
									<div class="resume-item">
										<div class="date">2004</div>
										<div class="name">College of St. Benedict</div>
										<div class="company">St. Joseph, MN</div>
										<p>
											Bachelor of Arts in Dietetics
										</p>
									</div>
								</div>
							</div>

							<div class="clear"></div>
						</div>

					</div>

					<!--
						Skills
					-->
					<div class="content skills">

						<!-- title -->
						<div class="title">My Skills</div>

						<!-- content -->
						<div class="row">

							<!-- skill item -->
							<div class="col col-d-6 col-t-6 col-m-12 border-line-v">
								<div class="skills-list">
									<div class="skill-title border-line-h">
										<div class="icon"><i class="ion ion-easel"></i></div>
										<div class="name">Front End Skills</div>
									</div>
									<ul>
										<li class="border-line-h"> 
											<div class="name">HTML</div>
											<div class="progress">
												<div class="percentage" style="width:90%;"></div>
											</div>
										</li>
										<li class="border-line-h"> 
											<div class="name">CSS</div>
											<div class="progress">
												<div class="percentage" style="width:65%;"></div>
											</div>
										</li>
										<li class="border-line-h"> 
											<div class="name">JavaScript/jQuery</div>
											<div class="progress">
												<div class="percentage" style="width:75%;"></div>
											</div>
										</li>
										<li>
											<div class="name">Bootstrap</div>
											<div class="progress">
												<div class="percentage" style="width:85%;"></div>
											</div>
										</li>
										<li>
											<div class="name">Material UI</div>
											<div class="progress">
												<div class="percentage" style="width:85%;"></div>
											</div>
										</li>
									</ul>
								</div>
							</div>

							<!-- skill item -->
							<div class="col col-d-6 col-t-6 col-m-12 border-line-v">
								<div class="skills-list">
									<div class="skill-title border-line-h">
										<div class="icon"><i class="ion ion-code"></i></div>
										<div class="name">Back End Skills</div>
									</div>
									<ul>
										<li class="border-line-h"> 
											<div class="name">MongoDB</div>
											<div class="progress">
												<div class="percentage" style="width:85%;"></div>
											</div>
										</li>
										<li class="border-line-h"> 
											<div class="name">MySQL</div>
											<div class="progress">
												<div class="percentage" style="width:65%;"></div>
											</div>
										</li>
										<li class="border-line-h"> 
											<div class="name">React.js</div>
											<div class="progress">
												<div class="percentage" style="width:75%;"></div>
											</div>
										</li>
										<li>
											<div class="name">Express</div>
											<div class="progress">
												<div class="percentage" style="width:90%;"></div>
											</div>
										</li>
										<li>
											<div class="name">Node</div>
											<div class="progress">
												<div class="percentage" style="width:90%;"></div>
											</div>
										</li>
										<li>
											<div class="name">Handlebars</div>
											<div class="progress">
												<div class="percentage" style="width:90%;"></div>
											</div>
										</li>

									</ul>
								</div>
							</div>

							<div class="clear"></div>
						</div>

					</div>

				</div>
			</div>

			<!--
				Card - Web Developement Works
			-->
			<div class="card-inner" id="works-card">
				<div class="card-wrap">

					<!--
						Works
					-->
					<div class="content works">

						<!-- title -->
						<div class="title">Web Developement</div>

						<!-- filters -->
					<!--<div class="filter-menu filter-button-group">
							<div class="f_btn active">
								<label><input type="radio" name="fl_radio" value="grid-item" />All</label>
							</div>
							<div class="f_btn">
								<label><input type="radio" name="fl_radio" value="photo" />Photo</label>
							</div>
							<div class="f_btn">
								<label><input type="radio" name="fl_radio" value="video" />Video</label>
							</div>
							<div class="f_btn">
								<label><input type="radio" name="fl_radio" value="music" />Music</label>
							</div>
							<div class="f_btn">
								<label><input type="radio" name="fl_radio" value="design" />Design</label>
							</div>
						</div>-->

						<!-- content -->
						<div class="row grid-items border-line-v">

							<!-- work item Word Guess Game -->
							<div class="col col-d-6 col-t-6 col-m-12 grid-item photo border-line-h">
								<div class="box-item">
									<div class="image">
										<a href="images/works/work1.png">
											<img src="images/works/work1.png" alt="Word Guess Game" />
											<span class="info">
												<span class="ion ion-code"></span>
											</span>
										</a>
									</div>
									<div class="desc">
										<a href= "images/works/work1.png" class="name has-popup-image"><a href = "https://lianasun.github.io/word-guess-game/">Word Guess Game</a></a>
										<div class="category"><a href = "https://github.com/LianaSun/word-guess-game">View Code</a></div>
									</div>
								</div>
							</div>

							<!-- work item Crystal Collector -->
							<div class="col col-d-6 col-t-6 col-m-12 grid-item video border-line-h">
								<div class="box-item">
									<div class="image">
										<a href="https://lianasun.github.io/Crystal-Collector/">
											<img src="images/works/work2.png" alt="Crystal Collector Game"/>
											<span class="info">
												<span class="ion ion-code"></span>
											</span>
										</a>
									</div>
									<div class="desc">
										<a href="https://lianasun.github.io/Crystal-Collector/">Crystal Collector Game</a>
										<div class="category"><a href = "https://github.com/LianaSun/Crystal-Collector">View Code</a></div>
									</div>
								</div>
							</div>

							<!-- work item Burger Builder -->
							<div class="col col-d-6 col-t-6 col-m-12 grid-item music border-line-h">
								<div class="box-item">
									<div class="image">
										<a href="#" class="has-popup-image">
											<img src="images/works/work3.png" alt="Burger Builder" />
											<span class="info">
												<span class="ion ion-code"></span>
											</span>
										</a>
									</div>
									<div class="desc">
										<!--<a href="INSERT HEROKU LINK HERE!">-->Burger Builder  NODE APP</a>
										<div class="category"><a href = "https://github.com/LianaSun/burger">View Code</a></div>
									</div>
								</div>
							</div>

							<!-- work item Friend Finder -->
							<div class="col col-d-6 col-t-6 col-m-12 grid-item design border-line-h">
								<div class="box-item">
									<div class="image">
										<a href="#popup-1" class="has-popup-image">
											<img src="images/works/work4.png" alt="Friend Finder" />
											<span class="info">
												<span class="ion ion-code"></span>
											</span>
										</a>
									</div>
									<div class="desc">
										<a href="#popup-1" class="name has-popup-image">Friend Finder  NODE APP</a>
										<div class="category"><a href = "https://github.com/LianaSun/FriendFinder">View Code</a></div>
									</div>
									<div id="popup-1" class="popup-box mfp-fade mfp-hide">
										<div class="content">
											<div class="image">
												<img src="images/works/work4.png" alt="Friend Finder">
											</div>
										</div>
									</div>
								</div>
							</div>

							<!-- work item Dog Game -->
							<div class="col col-d-6 col-t-6 col-m-12 grid-item photo border-line-h">
								<div class="box-item">
									<div class="image">
										<a href="images/works/work5.png" class="has-popup-image">
											<img src="images/works/work5.png" alt="Dog Memory Game" />
											<span class="info">
												<span class="ion ion-code"></span>
											</span>
										</a>
									</div>
									<div class="desc">
										<a href="images/works/work5.png" class="name has-popup-image">Dog Memory Game</a>
										<div class="category">View Code</div>
									</div>
								</div>
							</div>

							<!-- work item FLOE CRM -->
							<div class="col col-d-6 col-t-6 col-m-12 grid-item music border-line-h">
								<div class="box-item">
									<div class="image">
										<a href="#" class="has-popup-image">
											<img src="images/works/work8.png" alt="Floe CRM" />
											<span class="info">
												<span class="ion ion-code"></span>
											</span>
										</a>
									</div>
									<div class="desc">
										<a href="#" class="name has-popup">FLOE Band Management CRM</a>
										<div class="category">View Code</div>
									</div>
								</div>
							</div>

							<!-- work item Flock -->
							<div class="col col-d-6 col-t-6 col-m-12 grid-item video border-line-h">
								<div class="box-item">
									<div class="image">
										<a href="#" class="has-popup-image">
											<img src="images/works/work6.png" alt="Flock" />
											<span class="info">
												<span class="ion ion-code"></span>
											</span>
										</a>
									</div>
									<div class="desc">
										<a href="#" class="name has-popup-video">Flock</a>
										<div class="category">Currently Under Construction</div>
										
									</div>
								</div>
							</div>

							<!-- work item EvenTide -->
							<div class="col col-d-6 col-t-6 col-m-12 grid-item design border-line-h">
								<div class="box-item">
									<div class="image">
										<a href="#popup-2" class="has-popup-image">
											<img src="images/works/work7.png" alt="EvenTide Event Planner" />
											<span class="info">
												<span class="ion ion-code"></span>
											</span>
										</a>
									</div>
									<div class="desc">
										<a href="#popup-2" class="name has-popup-media">
											<a href = "https://mattrubbelke.github.io/Eventide/">EvenTide</a></a>
										<div class="category"><a href = "https://github.com/LianaSun/EvenTide">View Code</a></div>
									</div>
									<div id="popup-2" class="popup-box mfp-fade mfp-hide">
										<div class="content">
											<div class="image">
												<img src="images/works/work7.png" alt="EvenTide">
											</div>
											
										</div>
									</div>
								</div>
							</div>
							<div class="col col-d-6 col-t-6 col-m-12 grid-item photo border-line-h">
								<div class="box-item">
									<div class="image">
										<a href="images/works/work9.png" class="has-popup-image">
											<img src="images/works/work9.png" alt="Train Scheduler" />
											<span class="info">
												<span class="ion ion-code"></span>
											</span>
										</a>
									</div>
									<div class="desc">
										<a href="images/works/work9.png" class="name has-popup-image">
											<a href = "https://lianasun.github.io/TrainScheduler/">Train Scheduler</a></a>
										<div class="category"><a href = "https://github.com/LianaSun/TrainScheduler">View Code</a></div>
									</div>
								</div>
							</div>
							<!--work item Harry Potter Trivia Game-->
							<div class="col col-d-6 col-t-6 col-m-12 grid-item photo border-line-h">
								<div class="box-item">
									<div class="image">
										<a href="images/works/work10.png" class="has-popup-image">
											<img src="images/works/work10.png" alt="Harry Potter Trivia" />
											<span class="info">
												<span class="ion ion-code"></span>
											</span>
										</a>
									</div>
									<div class="desc">
										<a href="images/works/work10.png" class="name has-popup-image">
											<a href = "https://lianasun.github.io/TriviaGame/">Harry Potter Trivia</a></a>
										<div class="category"><a href = "https://github.com/LianaSun/TriviaGame">View Code</a></div>
									</div>
								</div>
							</div>


							<div class="clear"></div>
						</div>

					</div>

				</div>
			</div>

			<!--
				Card - Graphic Design Works
			-->
			<div class="card-inner" id="graphics-card">
				<div class="card-wrap">

					<!--
						Works
					-->
					<div class="content works">

						<!-- title -->
						<div class="title">Graphic Design</div>

						<!-- filters -->
					<!--<div class="filter-menu filter-button-group">
							<div class="f_btn active">
								<label><input type="radio" name="fl_radio" value="grid-item" />All</label>
							</div>
							<div class="f_btn">
								<label><input type="radio" name="fl_radio" value="photo" />Photo</label>
							</div>
							<div class="f_btn">
								<label><input type="radio" name="fl_radio" value="video" />Video</label>
							</div>
							<div class="f_btn">
								<label><input type="radio" name="fl_radio" value="music" />Music</label>
							</div>
							<div class="f_btn">
								<label><input type="radio" name="fl_radio" value="design" />Design</label>
							</div>
						</div>-->

						<!-- content -->
						<div class="row grid-items border-line-v">

							<!-- work item Black Dog Juice Company-->
							<div class="col col-d-6 col-t-6 col-m-12 grid-item photo border-line-h">
								<div class="box-item">
									<div class="image">
										<a href="images/graphics/blackdog.png">
											<img src="images/graphics/blackdog.png" alt="Black Dog Juice Co" />
											<span class="info">
												<span class="ion ion-paintbrush"></span>
											</span>
										</a>
									</div>
									<div class="desc">
										<a href= "images/graphics/blackdog.png" class="name has-popup-image">Black Dog Juice Company</a>
									</div>
								</div>
							</div>

							<!-- work item evenTide-->
							<div class="col col-d-6 col-t-6 col-m-12 grid-item photo border-line-h">
								<div class="box-item">
									<div class="image">
										<a href="images/graphics/evenTide.png">
											<img src="images/graphics/evenTide.png" alt="EvenTide" />
											<span class="info">
												<span class="ion ion-paintbrush"></span>
											</span>
										</a>
									</div>
									<div class="desc">
										<a href= "images/graphics/evenTide.png" class="name has-popup-image">EvenTide</a>
									</div>
								</div>
							</div>
							<!-- work item floe-->
							<div class="col col-d-6 col-t-6 col-m-12 grid-item photo border-line-h">
								<div class="box-item">
									<div class="image">
										<a href="images/graphics/floe.png">
											<img src="images/graphics/floe.png" alt="Floe" />
											<span class="info">
												<span class="ion ion-paintbrush"></span>
											</span>
										</a>
									</div>
									<div class="desc">
										<a href= "images/graphics/floe.png" class="name has-popup-image">Floe</a>
									</div>
								</div>
							</div>
							
							<!-- work item just add booty-->
								<div class="col col-d-6 col-t-6 col-m-12 grid-item photo border-line-h">
									<div class="box-item">
										<div class="image">
											<a href="images/graphics/justaddbooty.png">
												<img src="images/graphics/justaddbooty.png" alt="Just Add Booty" />
												<span class="info">
													<span class="ion ion-paintbrush"></span>
												</span>
											</a>
										</div>
										<div class="desc">
											<a href= "images/graphics/justaddbooty.png" class="name has-popup-image">Just Add Booty!</a>
										</div>
									</div>
								</div>
							
								<!-- work item lady metatrona-->
								<div class="col col-d-6 col-t-6 col-m-12 grid-item photo border-line-h">
									<div class="box-item">
										<div class="image">
											<a href="images/graphics/ladymetatrona.png">
												<img src="images/graphics/ladymetatrona.png" alt="Lady Metatrona" />
												<span class="info">
													<span class="ion ion-paintbrush"></span>
												</span>
											</a>
										</div>
										<div class="desc">
											<a href= "images/graphics/ladymetatrona.png" class="name has-popup-image">Lady Metatrona</a>
										</div>
									</div>
								</div>

								<!-- work item MNDC-->
								<div class="col col-d-6 col-t-6 col-m-12 grid-item photo border-line-h">
									<div class="box-item">
										<div class="image">
											<a href="images/graphics/MNDC.png">
												<img src="images/graphics/MNDC.png" alt="MN Dancers Collective" />
												<span class="info">
													<span class="ion ion-paintbrush"></span>
												</span>
											</a>
										</div>
										<div class="desc">
											<a href= "images/graphics/ladymetatrona.png" class="name has-popup-image">MN Dancers Collective</a>
										</div>
									</div>
								</div>

								<!-- work item qigong-->
								<div class="col col-d-6 col-t-6 col-m-12 grid-item photo border-line-h">
									<div class="box-item">
										<div class="image">
											<a href="images/graphics/qigong.png">
												<img src="images/graphics/qigong.png" alt="qigong" />
												<span class="info">
													<span class="ion ion-paintbrush"></span>
												</span>
											</a>
										</div>
										<div class="desc">
											<a href= "images/graphics/qigong.png" class="name has-popup-image">Daisy Lily Sun Qi Gong</a>
										</div>
									</div>
								</div>

								<!-- work item sacred space gardens-->
								<div class="col col-d-6 col-t-6 col-m-12 grid-item photo border-line-h">
									<div class="box-item">
										<div class="image">
											<a href="images/graphics/sacredspace.png">
												<img src="images/graphics/sacredspace.png" alt="sacred space" />
												<span class="info">
													<span class="ion ion-paintbrush"></span>
												</span>
											</a>
										</div>
										<div class="desc">
											<a href= "images/graphics/sacredspace.png" class="name has-popup-image">Sacred Space Gardens MN</a>
										</div>
									</div>
								</div>

								<!-- work item sacred jowemo woods-->
								<div class="col col-d-6 col-t-6 col-m-12 grid-item photo border-line-h">
									<div class="box-item">
										<div class="image">
											<a href="images/graphics/JoWeMo Wood.png">
												<img src="images/graphics/JoWeMo Wood.png" alt="JoWeMo Woods" />
												<span class="info">
													<span class="ion ion-paintbrush"></span>
												</span>
											</a>
										</div>
										<div class="desc">
											<a href= "images/graphics/JoWeMo Wood.png" class="name has-popup-image">JoWeMo Woods</a>
										</div>
									</div>
								</div>

								<!-- work item sacred skin by sunni-->
								<div class="col col-d-6 col-t-6 col-m-12 grid-item photo border-line-h">
									<div class="box-item">
										<div class="image">
											<a href="images/graphics/skinbysunni.png">
												<img src="images/graphics/skinbysunni.png" alt="skin by sunni" />
												<span class="info">
													<span class="ion ion-paintbrush"></span>
												</span>
											</a>
										</div>
										<div class="desc">
											<a href= "images/graphics/skinbysunni.png" class="name has-popup-image">Skin By Sunni</a>
										</div>
									</div>
								</div>

								<!-- work item Jen Nipps-->
								<div class="col col-d-6 col-t-6 col-m-12 grid-item photo border-line-h">
									<div class="box-item">
										<div class="image">
											<a href="images/graphics/jenNips.png">
												<img src="images/graphics/jenNips.png" alt="Jen Nips Creative" />
												<span class="info">
													<span class="ion ion-paintbrush"></span>
												</span>
											</a>
										</div>
										<div class="desc">
											<a href= "images/graphics/jenNips.png" class="name has-popup-image">Jen Nipps Creative</a>
										</div>
									</div>
								</div>

								<!-- work item illuminated-->
								<div class="col col-d-6 col-t-6 col-m-12 grid-item photo border-line-h">
									<div class="box-item">
										<div class="image">
											<a href="images/graphics/illuminated.png">
												<img src="images/graphics/illuminated.png" alt="Illuminated LLC" />
												<span class="info">
													<span class="ion ion-paintbrush"></span>
												</span>
											</a>
										</div>
										<div class="desc">
											<a href= "images/graphics/illuminated.png" class="name has-popup-image">Illuminated, LLC</a>
										</div>
									</div>
								</div>

								<!-- work item Flock-->
								<div class="col col-d-6 col-t-6 col-m-12 grid-item photo border-line-h">
									<div class="box-item">
										<div class="image">
											<a href="images/graphics/Flock.png">
												<img src="images/graphics/Flock.png" alt="Flock" />
												<span class="info">
													<span class="ion ion-paintbrush"></span>
												</span>
											</a>
										</div>
										<div class="desc">
											<a href= "images/graphics/Flock.png" class="name has-popup-image">Flock</a>
										</div>
									</div>
								</div>
							<div class="clear"></div>
						</div>

					</div>

				</div>
			</div>
		
			<!--
				Card - Contacts
			-->
			<div class="card-inner contacts" id="contacts-card">
				<div class="card-wrap">

					<!--
						Conacts Info
					-->
					<div class="content contacts">

						<!-- title -->
						<div class="title">Get in Touch</div>

						<!-- content -->
						<div class="row">
							<div class="col col-d-12 col-t-12 col-m-12 border-line-v">
								<div class="map" id="map"></div>
								<div class="info-list">
									<ul>
										<li><strong>Location . . .</strong>Minneapolis, MN</li>
										<li><strong>Email . . .</strong>lianaelindgren@gmail.com</li>
										<li><strong>Phone . . .</strong>651-343-8296</li>
										<li><strong>Freelance . . .</strong>Currently Available</li>
									</ul>
								</div>
							</div>
							<div class="clear"></div>
						</div>

					</div>

					<!--
						Contact Form
					-->
					<div class="content contacts">

						<!-- title -->
						<div class="title">Contact Form</div>

						<!-- content -->
						<div class="row">
							<div class="col col-d-12 col-t-12 col-m-12 border-line-v">
								<div class="contact_form">
									<form id="cform" method="post">
										<div class="row">
											<div class="col col-d-6 col-t-6 col-m-12">
												<div class="group-val">
													<input type="text" name="name" placeholder="Full Name" />
												</div>
											</div>
											<div class="col col-d-6 col-t-6 col-m-12">
												<div class="group-val">
													<input type="text" name="email" placeholder="Email Address" />
												</div>
											</div>
											<div class="col col-d-12 col-t-12 col-m-12">
												<div class="group-val">
													<textarea name="message" placeholder="Your Message"></textarea>
												</div>
											</div>
										</div>
										<div class="align-left">
											<a href="#" class="button" onclick="$('#cform').submit(); return false;">
												<span class="text">Send Message</span>
												<span class="arrow"></span>
											</a>
										</div>
									</form>
									<div class="alert-success">
										<p>Thanks, your message is sent successfully.</p>
									</div>
								</div>
							</div>
							<div class="clear"></div>
						</div>

					</div>

				</div>
			</div>

		</div>
	</div>
	
	<!--
		jQuery Scripts
	-->
	<script src="js/jquery.min.js"></script>
	<script src="js/jquery.validate.js"></script>
	<script src="js/jquery.magnific-popup.js"></script>
	<script src="js/imagesloaded.pkgd.js"></script>
	<script src="js/masonry.pkgd.js"></script>
	<script src="js/masonry-filter.js"></script>
	<script src="js/jquery.slimscroll.js"></script>
	<script src="js/owl.carousel.js"></script>
	
	<!--
		Google map api
	-->
	<script src="https://maps.google.com/maps/api/js?sensor=false"></script>
	
	<!--
		Main Scripts
	-->
	<script src="js/scripts.js"></script>
	
</body>
</html>